html {
    padding-left: 160px;
    background: #ae0001 url('banner2.jpg') left top no-repeat;
}

    body {
        font-family: sans-serif;
        font-size: 0.85em;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #f7f3dc;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    li {
        margin: 4px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #dedcc1;
    }

/* Header */

    #header {
        position: relative;
        height: 100px;
        color: #fff;
        padding-left: 30px;
        padding-right: 230px;
        background: #3c3c3c url('devconf.png') no-repeat;
        background-position: right 10px center;
    }

        #header h1 {
            font-size: 33px;
            margin: 0;
            padding: 15px 0 0 0;
        }

        #clock {
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
        }

/* Blocks */

    .block {
        float: left;
        width: 33.1%;
        height: 650px; /* FIX[lsmid]: adjust height */
        margin: 0.1%;
        border-radius: 8px;
        background-color: #dedcc1;
        overflow: hidden;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        div .name {
            color: #fff;
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
            padding: 3px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: #cc0000;
        }

        /* Session */

        .session {
            padding: 10px 12px;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .session .topic {
                font-weight: bold;
                line-height: 1.45em;
                margin-bottom: 7px;
            }

            .session .speaker {
                font-style: italic;
            }

            .session .descr {
                width: 100%;
                color: #666;
                font-size: small;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .session .tag {
                color: #fff;
                padding: 2px 4px;
                border-radius: 5px;
                background-color: #000;
            }

        .current {
            background-color: #fff;
        }

            .current .topic {
            }

/* Tweets */

#tweets {
    clear: both;
    width: 100%;
    height: 110px; /* FIX[lsmid]: adjust height (optionaly) */
    padding: 7px 0 0 10px;
    overflow: hidden;
    background: #fff;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    #tweets div {
        display: inline-block;
        width: 19%;
        height: 100%;
        vertical-align: top;
    }

    #tweets > div + div {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px dotted #ddd;
    }

        #tweets div img {
            float: left;
            margin: 0 10px 5px 0;
        }
