body {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f7f3dc;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    li {
        margin: 4px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #dedcc1;
    }

/* Blocks */

    .block {
        float: left;
        width: 33.2%;
        height: 660px;
        margin: 0.1%;
        border-radius: 8px;
        background-color: #dedcc1;
        overflow: hidden;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }

        div .name {
            color: #fff;
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
            padding: 3px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: #cc0000;
        }

        /* Session */

        .session {
            padding: 10px 12px;

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box; 
            box-sizing: border-box;
        }

        .session .topic {
            font-weight: bold;
            line-height: 1.45em;
            margin-bottom: 7px;
        }

        .session .speaker {
            font-style: italic;
        }

        .session .descr {
            width: 100%;
            color: #666;
            font-size: small;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .session .tag {
            color: #fff;
            padding: 2px 4px;
            border-radius: 5px;
            background-color: #000;
        }

        .current {
            background-color: #fff;
        }

            .current .topic {
            }

    /* Info block */

    .infoblock {
        position: relative;
        float: left;
        width: 33%;
        height: 660px;
        color: #fff;
        margin: 0.1%;
        padding-left: 160px;
        border-radius: 8px;
        background-color: #000;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }

        #header {
            font-size: 1.9em;
            font-weight: bold;
            text-align: center;
            padding: 65px 15px 0px 15px;
            background: url('rhlogo.png') center top no-repeat;
        }

        #clock {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 0 15px 1.5em 15px;
            padding: 0.5em 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
        }

        #banner {
            position: absolute;
            top: 0px;
            left: 0px;
            float: left;
            height: 100%;
            width: 160px;
            background: #ae0001 url('banner2.jpg') left top no-repeat;
            margin-right: 1.5em;
        }

        #qrcodes {
            width: 90%;
            margin: 0 auto;
        }

            #qrcodes div {
                display: inline-block;
                width: 49.5%;
                text-align: center;
                margin-bottom: 1em;

                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box; 
                box-sizing: border-box;
            }

                #qrcodes div img {
                   display: block;
                   width: 78%;
                   margin: 0 auto 0.8em auto;
                }

/* Tweets */

#tweets {
    clear: both;
    height: 110px;
    overflow: hidden;
    background: #fff;
}

    #tweets div {
        display: inline-block;
        width: 19%;
        height: 100%;
        vertical-align: top;
        margin: 0 0 0.5% 0.5%;
        padding: 0.5% 0.5% 0 0;
        border-right: 1px dotted #ddd;
 
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }

    #tweets div img {
        float: left;
        margin: 0 10px 0px 0;
    }
