{% extends "layout.html" %}
{% block subtitle %}
- ABOUT
{% endblock %}
{% block content %}
	    <p>Developer Conference is a yearly conference for all Linux and JBoss Developers, Admins
	    and Linux users organized by Red Hat Czech Republic, the Fedora and JBoss Community. 2013 DevConf
	    had over 60 talks in 3 different tracks and additional to that 3 more rooms with workshops
	    and hackfests. With around 600 participants <a href="http://www.devconf.cz">DEVCONF.CZ</a> is one of the biggest events about
	    free software in the Czech Republic.</p>
	    <p>The conference is organized by <a href="http://www.redhat.com">Red Hat Czech</a>.</p>
	    <dl>
	      <dt><strong>When:</strong></dt>
	      <dd>February 2014, Friday 7th - Sunday 9th</dd>
	      <dt><strong>Where:</strong></dt>
	      <dd>Faculty of Informatics, Masaryk University<br>Botanická 554/68a<br>602 00 Brno-Ponava<br>Czech Republic<br/>
	      <a href="geo:49.2099831,16.5989158"><img src="map.png" class="img-responsive"></a></dd>
	      <dt><strong>Admission:</strong></dt>
	      <dd>Free<br/>
	    </dl>
{% endblock %}
