{% extends "layout.html" %}
{% block content %}
      <div class="jumbotron">
          <img src="logo.png" class="img-rounded img-responsive">
      </div>
      <div>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140207.html" role="button">Feb 7 schedule</a>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140208.html" role="button">Feb 8 schedule</a>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140209.html" role="button">Feb 9 schedule</a>
      <a class="btn btn-lg btn-default btn-block" href="about.html" role="button">About</a>
      </div>
      <p></p>
      <p class="text-center"><a href="mailto:info@redhatters.cz">Issues or comments?</a></p>
{% endblock %}
